*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}
.logo{
}
.right-menu{
    display: flex;
    /* flex-wrap: wrap; */
}
.right-menu-upper{
    display: flex;
    gap:10px;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 5px;
    ;
}
.apply_now{
    width:9rem;
    height: 1.9rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admission_helpline{
    width: 15rem;
    height: 1.9rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides{
    width: 100%;
    height: 700px;
    background-color: lightgray;
}




