*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}
.logo{
}
.right-menu{
    display: flex;
    /* flex-wrap: wrap; */
}
.right-menu-upper{
    display: flex;
    gap:10px;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 5px;
    ;
}
.apply_now{
    width:9rem;
    height: 1.9rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admission_helpline{
    width: 15rem;
    height: 1.9rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* below is the styling of the slide show */
.slides{
    width: 100%;
    height: 700px;
    background-color: lightgray;
}

/* code end here */

/* below is the code of the about paragraph and styling  */
.container1{
    display: flex;
    align-self: center;
    justify-content: center;
}
.start{
    /* width: 100%;
    height: 400px;
    background-color: lightgray;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* font-size: 3rem;  */
    /* margin-left: 25vw; */
    /* overflow: auto; */
    /* float: left; */
    font-size: 20px;
    height:250px;
    margin-right: 50px;
}


.line1{
    /* width: 100%; */
    /* height: 50px; */
    /* background-color: lightblue; */
}

.line2{
    /* width: 100%; */
    /* height: 50px; */
    /* background-color: lightgreen; */
    color: red;
}

.end{
    /* float: left; */
    display: grid;
    grid-template-columns: 240px 240px;
    column-gap: 10px;
    grid-template-rows: 145px 145px;
    row-gap: 10px;
}
/* the code of paragraph ends here */

/* one line styling */
.path{
    display: flex;
    margin-left: 25vw;
    font-size: 50px;
}




/* below is the styling of the main grid that tells about gap length and all */

.course{
    margin-left: 25vw;
    margin-right: 25vw; 
    /* float: left; */
    display: grid;
    grid-template-columns: 310px 310px 310px 310px;
    grid-template-rows: 150px 150px 150px ;
    row-gap: 5px;
    column-gap: 5px;
}



/* the code wriiten under is the grid regarding the various streams and options avaliable at chitkara university */
/* here we used grid and flex for text then we use scale to enlarge the image on hover */
.cse{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("cse_pic.webp");
    object-fit: cover;
    width: 100%;
    height: 100%;
    color:white;
    font-size: larger;
}
.cse:hover{
    transform: scale(1.1);
}
.ece{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.ece:hover{
    transform: scale(1.1);
}
.bca{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.bca:hover{
    transform: scale(1.1);
}
.mba{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.mba:hover{
    transform: scale(1.1);
}
.arts{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.arts:hover{
    transform: scale(1.1);
}
.llb{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.llb:hover{
    transform: scale(1.1);
}
.design{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.design:hover{
    transform: scale(1.1);
}
.nursing{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.nursing:hover{
    transform: scale(1.1);
}
.pharmacy{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.pharmacy:hover{
    transform: scale(1.1);
}
.communication{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.communication:hover{
    transform: scale(1.1);
}
.navy{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.navy:hover{
    transform: scale(1.1);
}
.ba{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("OIP.webp");
    color:white;
    font-size: larger;
}
.ba:hover{
    transform: scale(1.1);
}

/* the code of grid end here */

/* from here th ecode of 2026 calender will start*/

.maincal{
    margin-left: 25vw;
     width:50vw;
    height:50vh; 
    background-color: beige;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.calender{
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end;/ */
    width:40vw;
    height:50vh;
    background-color: antiquewhite;
    float: left;
    /* margin-top: 30px;
    margin-left: 20px; */
}
/* .calender_content{
    margin-top: 30px;
    margin-left: 20px; 
} */

.calender_grid{
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: 10vh;

}







.form{
    background-color: aliceblue;
}