*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f4f4f4;
}
/* nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}
.logo{
}
.right-menu{
    display: flex;
    /* flex-wrap: wrap; */
/* }
.right-menu-upper{
    display: flex;
    gap:10px;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 5px;
    ;
}
.apply_now{
    width:9rem;
    height: 1.9rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admission_helpline{
    width: 15rem;
    height: 1.9rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
} */ 

header{
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-end;
    height:3vh;
}

header .head{
    display: flex;
    justify-content: flex-end;
    gap: 20px;

}

header #apply_now{
    background-color: red;
    width:5vw;
    display: flex;
    justify-content: center;
}

header #admission_helpline{
     background-color: red;
     width: 7vw;
     display: flex;
    justify-content: center;

}

nav{
    display: flex;
    justify-content:space-between ;

}

nav .nav_content{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
}





/* below is the styling of the slide show */
.slides{
    width: 100%;
    height: 700px;
    background-color: lightgray;
}

/* code end here */

/* below is the code of the about paragraph and styling  */
.container1{
    display: flex;
    align-self: center;
    justify-content: center;
}
.start{
    /* width: 100%;
    height: 400px;
    background-color: lightgray;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* font-size: 3rem;  */
    /* margin-left: 25vw; */
    /* overflow: auto; */
    /* float: left; */
    font-size: 20px;
    height:250px;
    margin-right: 50px;
}


.line1{
    /* width: 100%; */
    /* height: 50px; */
    /* background-color: lightblue; */
}

.line2{
    /* width: 100%; */
    /* height: 50px; */
    /* background-color: lightgreen; */
    color: red;
}

.end{
    /* float: left; */
    display: grid;
    grid-template-columns: 240px 240px;
    column-gap: 10px;
    grid-template-rows: 145px 145px;
    row-gap: 10px;
}
/* the code of paragraph ends here */

/* one line styling */
.path{
    display: flex;
    margin-left: 16vw;
    font-size: 50px;
    justify-content: flex-start;
}




/* below is the styling of the main grid that tells about gap length and all */

.course{
    /* margin-left: 25vw;
    margin-right: 25vw;  */
    /* float: left; */
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 310px 310px 310px 310px;
    grid-template-rows: 150px 150px 150px ;
    row-gap: 5px;
    column-gap: 5px;
}



/* the code wriiten under is the grid regarding the various streams and options avaliable at chitkara university */
/* here we used grid and flex for text then we use scale to enlarge the image on hover */
.cse{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("cse_pic.webp");
    object-fit: cover;
    width: 100%;
    height: 100%;
    color:white;
    font-size: larger;
}
.cse:hover{
    transform: scale(1.1);
}
.ece{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;
    color:white;
    font-size: larger;
}
.ece:hover{
    transform: scale(1.1);
}
.bca{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.bca:hover{
    transform: scale(1.1);
}
.mba{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.mba:hover{
    transform: scale(1.1);
}
.arts{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.arts:hover{
    transform: scale(1.1);
}
.llb{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.llb:hover{
    transform: scale(1.1);
}
.design{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.design:hover{
    transform: scale(1.1);
}
.nursing{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.nursing:hover{
    transform: scale(1.1);
}
.pharmacy{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.pharmacy:hover{
    transform: scale(1.1);
}
.communication{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.communication:hover{
    transform: scale(1.1);
}
.navy{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.navy:hover{
    transform: scale(1.1);
}
.ba{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("OIP.webp"); */
    background-image: url("cse_pic.webp");
    object-fit: cover;

    color:white;
    font-size: larger;
}
.ba:hover{
    transform: scale(1.1);
}

/* the code of grid end here */

/* from here th ecode of 2026 calender will start*/

/* .maincal{

    background-color: rgb(238, 11, 49);
    display: flex;
    align-items: center;
    justify-content: center;
} */

.options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.calender{
    width:67vw;
    height:61vh;
    background-color: rgb(249, 234, 203);
    float: left;
}

.calender_content{
    display: grid;
    grid-template-columns:32.5vw 32.5vw ;
    grid-template-rows:5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh  ;
    margin-left: 20px;
    column-gap: 45px;
    row-gap: 6px;
    float:left;
    font-size: 23px;
    
}

.global{
    display: flex;
    justify-content: center;
    /* background-color: rgb(60, 255, 0); */
    /* margin-left: 17vw;
    margin-right: 17vw; */

}

.global_lines{
    width:65vw;
    /* background-color: ; */
    display: flex;
    justify-content: flex-start;
    align-items: space-evenly;
    flex-direction: column;
    gap:6px;
    /* float: left; */
}

.space{
    gap:5px;
}

.global_grid{
    background-color: grey;
    display: grid;
    grid-template-columns: 16.2vw 16.2vw 16.2vw 16.2vw;
    grid-template-rows: 50vh;
    /* column-gap: 30px; */
    column-gap: 10px;
    
}

.grid_1{
    background-image: url("OIP.webp");
    object-fit: fill;

}

.grid_2{
     background-image: url("OIP.webp");
    object-fit: fill;
    
}

.grid_3{
     background-image: url("OIP.webp");
    object-fit: fill;
    
}

.grid_4{
     background-image: url("OIP.webp");
    object-fit: fill;
    
}

.open_doors{
    background-color: bisque;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.open_doors .doors_lines .line_1{
    background-color: bisque;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 25px;

}

.open_doors .doors_lines .line_2{
    background-color: bisque;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px;

}

.line_3{
    background-color: bisque;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px;

}

.line_4{
    background-color: bisque;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px;

}



.companies{
    display: flex;
    justify-content: center;
    align-items: center;
}
.open_grid{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns:10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw ;
    grid-template-rows: 12vh 12vh 12vh 12vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#accenture{
    background-image: url("OIP.webp");
}

#adani{
    background-image: url("OIP.webp");
}

#ADITYA_BIRLA_GROUP{
    background-image: url("OIP.webp");
}

#Adobe{
    background-image: url("OIP.webp");
}

#airtel{
    background-image: url("OIP.webp");
}

#amazon{
    background-image: url("OIP.webp");
}

#Deloitte{
    background-image: url("OIP.webp");
}

#DLF{
    background-image: url("OIP.webp");
}

#EY{
    background-image: url("OIP.webp");
}

#Fortis{
    background-image: url("OIP.webp");
}

#Godrej{
    background-image: url("OIP.webp");
}

#Google{
    background-image: url("OIP.webp");
}

#gsk{
    background-image: url("OIP.webp");
}

#HDFC_BANK{
    background-image: url("OIP.webp");
}

#Hero{
    background-image: url("OIP.webp");
}

#IBM{
    background-image: url("OIP.webp");
}

#Infosys{
    background-image: url("OIP.webp");
}

#ITC_L_m_ted{
    background-image: url("OIP.webp");
}

#KPMG{
    background-image: url("OIP.webp");
}

#LT{
    background-image: url("OIP.webp");
}

#mahindraRise{
    background-image: url("OIP.webp");
}

#Marriott{
    background-image: url("OIP.webp");
}

#Microsoft{
    background-image: url("OIP.webp");
}

#Network18{
    background-image: url("OIP.webp");
}

#Pfizer{
    background-image: url("OIP.webp");
}

#pwc{
    background-image: url("OIP.webp");
}

#Reliance{
    background-image: url("OIP.webp");
}

#SAMSUNG{
    background-image: url("OIP.webp");
}

#TATA{
    background-image: url("OIP.webp");
}

#wipro{
    background-image: url("OIP.webp");
}

#WNS{
    background-image: url("OIP.webp");
}

#zomato{
    background-image: url("OIP.webp");
}

footer{
    /* margin-top: 100px; */
    height: auto;
    background-color: black;
    color: white;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* gap:5px; */
    /* display: grid; */
    /* column-gap: 5px; */
    display: grid;
    grid-template-columns: 20vw 15vw 17vw 17vw;
    grid-template-rows: 100vh;

}


footer .location{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    float: left;


}

footer.admission{
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    /* gap:5px; */
}

footer.imp_info{
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
}

footer.explore{
    /* margin-top: 100px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* row-gap: 5px; */
    display: grid;
    /* row-gap: 10px; */
    grid-template-columns:50px ;
    grid-template-rows: 20px  20px 20px 20px 20px  20px 20px 20px 20px  20px 20px 20px;
}



